<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <!--面包屑-->
            <?php echo $breadcrumb?>
            <div class="m-b-md">
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light text-sm">
                        <thead>
                            <tr>
                                <th colspan="2"><h3>登陆信息</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($logInfo as $val):?>
                            <tr>
                                <td><?php echo $val['title']?></td>
                                <td><?php echo $val['value']?></td>
                            </tr>
                            <?php endforeach?>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>