<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8"/>
    <title>Notebook | Web Application</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/public/css/a/app.v2.css" type="text/css"/>
    <script src="/public/js/jquery-1.11.1.min.js">
    </script><script src="/public/js/a/app.v2.js"></script>
    {addNeedStyFile}
</head>
<body>
<section class="vbox">
    <!--输出Header-->
    {Header}
    <section>
        <section class="hbox stretch">
            <!--输出left-->
            {Left}
            <!--输出Content-->
            {Content}
            <aside class="bg-light lter b-l aside-md hide" id="notes">
                <div class="wrapper">Notification</div>
            </aside>
        </section>
    </section>
</section>
</body>
</html>